body {
    background-color: black;
}

#mouse-circle {
    position: absolute;
    width: 100px;
    height: 100px;
    margin: -32px 0 0 -32px;
    border: 1px solid #1cfc03;
    border-radius: 50%;
    pointer-events: none;
    background: greenyellow
}

h1 {
    color: #1cfc03;
    font-family: "Orbitron", sans-serif;
    font-size: 80px;
    font-weight: 100;
    text-align: center;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.massive {
    color: #1cfc03;
    font-family: "Orbitron", sans-serif;
    font-size: 100px;
    font-weight: 100;
    text-align: center;
    position: absolute;
    top: 38%;
    left: 50%;
    transform: translate(-50%, -50%);
}

input[type=text] {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #1cfc03;
    font-family: "Orbitron", sans-serif;
    font-weight: 1000;
    font-size: 30px;
    width: 180px;
    box-sizing: border-box;
    background-repeat: no-repeat;
    padding: 6px 10px 6px 10px;
    border-radius: 5px;
    outline: none;
    transition: width 0.4s ease-in-out;
  }
  
  input[type=text]:focus {
    width: 100%;
  }